<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">DamageTrack</h1>
                <p class="lead text-body-secondary">A reliable website that allows you to report infrastructure
                    damage and monitor the repair progress with ease.</p>
                <p>
                    <a href="/sign" class="btn btn-primary my-2">Login</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/damage3.png" alt="" class="card-img-top" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Fire Damage</h5>
                            <p class="card-text">Please help!!</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Urgency level: High</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">City: Patras</li>
                                <li class="list-group-item">Street: Ermou</li>
                                <li class="list-group-item">Number: 31</li>
                                <li class="list-group-item">ZipCode: 261 24</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    <button type="button"
                                        class="btn btn-sm btn-outline-secondary position-relative like-button"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                        </svg> <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                                            99+
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </button>
                                </div>
                                <small class="text-body-secondary">Today</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/damage1.png" alt="" class="card-img-top" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Water Damage</h5>
                            <p class="card-text">Please help!!</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Urgency level: Medium</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">City: Patras</li>
                                <li class="list-group-item">Street: Ag. Sofias</li>
                                <li class="list-group-item">Number: 19</li>
                                <li class="list-group-item">ZipCode: 261 34</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    <button type="button"
                                        class="btn btn-sm btn-outline-secondary position-relative like-button"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                        </svg> <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                                            99+
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </button>
                                </div>
                                <small class="text-body-secondary">Today</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/damage2.png" alt="" class="card-img-top" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Mold Damage</h5>
                            <p class="card-text">Please help!!</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Urgency level: Low</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">City: Patras</li>
                                <li class="list-group-item">Street: Kanakari</li>
                                <li class="list-group-item">Number: 21</li>
                                <li class="list-group-item">ZipCode: 261 13</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    <button type="button"
                                        class="btn btn-sm btn-outline-secondary position-relative like-button"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                        </svg> <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                                            99+
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </button>
                                </div>
                                <small class="text-body-secondary">Today</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>