header {
    margin-bottom: 5em;
}

.number-position {
    transform: translate(-30%, -80%);
}

.list-group-item {
    padding-left: 0;
    border: 1px solid #ececec;
}

.btn-outline-secondary {
    border: 0;
    transition: transform .2s;
}

.btn-outline-secondary:hover {
    transform: scale(1.1);
    background-color: initial;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

section {
    background-image: url('../../images/homepage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

#my-reports {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}

[data-bs-theme=dark] .active {
    --bs-btn-active-bg: #9fd3c7 !important;
    --bs-btn-active-color: #385170 !important;
}

[data-bs-theme=light] .btn.active, [data-bs-theme=auto] .btn.active {
    --bs-btn-active-bg: #385170 !important;
    --bs-btn-active-color: #9fd3c7 !important;
}

[data-bs-theme=dark] .inactive {
    --bs-btn-hover-bg: #9fd3c7 !important;
    --bs-btn-hover-color: #385170 !important;
}

[data-bs-theme=light] .btn.inactive, [data-bs-theme=auto] .btn.inactive {
    --bs-btn-hover-bg: #385170 !important;
    --bs-btn-hover-color: #9fd3c7 !important;
}

[data-bs-theme=dark] .page-link.pages {
    background-color: #385170;
    color: #9fd3c7;
}

[data-bs-theme=dark] .page-link.pages:hover {
    background-color: #9fd3c7;
    color: #385170;
}

[data-bs-theme=light] .page-link.pages, [data-bs-theme=auto] .page-link.pages {
    background-color: #9fd3c7;
    color: #385170;
}

[data-bs-theme=light] .page-link.pages:hover, [data-bs-theme=auto] .page-link.pages:hover {
    background-color: #385170;
    color: #9fd3c7;
}

#all-reports {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 2px solid black;
}