:root {
    --bs-form-control-bg: initial;
    --bs-heading-color: rgb(33, 37, 41);
    --bs-form-control-bg: white;
    --bs-body-color: rgb(33, 37, 41) !important;
    --bs-tertiary-bg: rgb(248, 249, 250);
    --bs-dropdown-color: rgb(248, 249, 250);
}

[data-bs-theme=light] body {
    background-color: #ececec;
}

[data-bs-theme=light] #signUp,
[data-bs-theme=light] #login {
    background-color: #9fd3c7 !important;
}

[data-bs-theme=light] #signUpBack:hover,
[data-bs-theme=light] #signUpBack:focus {
    background-color: #9fd3c7 !important;
    color: #385170;
}

[data-bs-theme=light] #signUpNext:focus,
[data-bs-theme=light] #loginButton:focus {
    background-color: #142d4c;
    color: #ececec;
}

[data-bs-theme=light] #signUpBack:disabled:hover {
    color: initial;
}

[data-bs-theme=light] ul {
    background-color: rgb(248, 249, 250) !important;
}

[data-bs-theme=light] .btn {
    color: white;
}

[data-bs-theme=light] .dropdown-item {
    color: rgb(56, 81, 112);
}

[data-bs-theme=light] .active {
    color: white;
}

[data-bs-theme=light] .btn:hover {
    background-color: #385170;
}

[data-bs-theme=dark] .dropdown-item {
    color: white;
}

[data-bs-theme=dark] .form-control {
    background-color: white;
}

[data-bs-theme=dark] h4 {
    color: inherit;
}

header {
    margin-bottom: 5em;
}

.bi {
    fill: currentColor;
}

.form-control,
.input-group-text {
    border: 0;
}

.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#signUpPassword {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-floating:not(.form-control:disabled)::before {
    display: none;
}

body {
    background-color: #142d4c;
}

.navbar-brand {
    --bs-navbar-brand-color: #ececec !important;
}

.navbar-brand:focus,
.navbar-brand:hover {
    --bs-navbar-brand-hover-color: #ececec !important;
}

.btn-primary {
    background-color: #142d4c;
    --bs-btn-hover-bg: #385170;
}

a {
    --bs-link-color-rgb: #142d4c;
}

a:hover {
    --bs-link-hover-color-rgb: #385170;
}

.show-warning {
    right: 0;
    position: absolute;
}

#eye {
    background-color: white;
}

#login.container,
#signUp.container {
    border-radius: 10px;
    background-color: #ececec;
    min-width: 320px;
}

.rounded {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

@media screen and (min-width: 500px) {

    main .container {
        max-width: 500px;
    }

    .rounded {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

@media screen and (min-width: 768px) {

    main .container {
        max-width: 930px;
    }

    .rounded {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.col:nth-of-type(2) {
    margin: 1rem;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #385170;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle~.circle {
    background-color: gray;
}

.line {
    border: 1px solid #385170;
    margin: 0;
    flex-grow: 1;
}

#signUp {
    display: none;
}