:root {
    --bs-secondary-color: #ececec; /* For description letters */
    --bs-body-color: #ececec; /* For article letters */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

[data-bs-theme=dark] {
    --bs-body-bg: #385170; /* For article and footer color */
    --bs-btn-hover-bg: #ececec;
}

[data-bs-theme=dark] .bg-info { /* for like button */
    color: #385170 !important;
    background-color: #9fd3c7 !important; 
}

[data-bs-theme=dark] .btn-outline-secondary {
    --bs-btn-color: #ececec !important; /* button letters */
}

[data-bs-theme=dark] .navbar {
    background-color: #385170 !important;
}

[data-bs-theme=dark] #bd-theme{
    background-color: #385170 !important;
    border-color: #385170 !important;
}

[data-bs-theme=dark] .btn-primary { /* for login button */
    --bs-btn-color: #ececec;
    --bs-btn-hover-color: #ececec;
    --bs-btn-active-color: #ececec;
    --bs-btn-disabled-color: #ececec;
    --bs-btn-bg: #385170; 
    --bs-btn-border-color: #385170;
    --bs-btn-hover-bg: #385170; 
    --bs-btn-hover-border-color: #385170;
    --bs-btn-active-bg: #385170;
    --bs-btn-active-border-color: #385170; 
}

[data-bs-theme=dark] .bg-body-tertiary { /* article background color */
    background-color: #142d4c !important;
}

[data-bs-theme=dark] main { /* fix section color */
    background-color: #142d4c !important;
}

[data-bs-theme=light] {
    --bs-secondary-color: #385170;
    --bs-heading-color: #385170;
    --bs-body-color: #385170;
    --bs-body-bg: #9fd3c7; 
    --bs-btn-bg: #385170;
    --bs-btn-hover-bg: #385170;
}

[data-bs-theme=light] .fw-light {
    --bs-heading-color: #ececec; /* DamageTrack title */
}

[data-bs-theme=light] .lead {
    --bs-secondary-color: #ececec; /* DamageTrack description */
}

[data-bs-theme=light] #bd-theme{
    background-color: #9fd3c7 !important;
    border-color: #9fd3c7 !important;
}

[data-bs-theme=light] .bg-info { /* like colors */
    color: #ececec !important;
    background-color: #385170 !important;
}

[data-bs-theme=light] .text-white { /* Github link color */
    color: #385170 !important;
}

[data-bs-theme=light] .navbar-brand {
    --bs-navbar-brand-color: #385170; /* Navbar letters color */
}

[data-bs-theme=light] .btn-primary { /* for login button */
    --bs-btn-color: #385170 !important;
    --bs-btn-hover-color: #385170;
    --bs-btn-active-color: #385170;
    --bs-btn-disabled-color: #385170;
    --bs-btn-bg: #9fd3c7;  
    --bs-btn-border-color: #9fd3c7; 
    --bs-btn-hover-bg: #9fd3c7;  
    --bs-btn-hover-border-color: #9fd3c7; 
    --bs-btn-active-bg: #9fd3c7; 
    --bs-btn-active-border-color: #9fd3c7;  
}

[data-bs-theme=light] .btn-outline-secondary { /* for article buttons */
    --bs-btn-color: #385170 !important;
    --bs-btn-hover-color: #9fd3c7;
    --bs-btn-active-color: #9fd3c7; 
    --bs-btn-disabled-color: #9fd3c7; 
    --bs-btn-bg: #9fd3c7;  
    --bs-btn-border-color: #385170;
    --bs-btn-hover-bg: #385170; 
    --bs-btn-hover-border-color: #385170; 
    --bs-btn-active-bg: #385170; 
    --bs-btn-active-border-color: #385170;  
}

[data-bs-theme=light] .bg-body-tertiary { /* article background color */
    background-color: #ececec !important;
}

[data-bs-theme=light] main { /* fix section color */
    background-color: #ececec !important;
}

[data-bs-theme=light] .navbar {
    background-color: #9fd3c7 !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

section {
    background-image: url('../homepage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}