body {
    margin-bottom: 10px;
    background-color: #142d4c;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 0;
    justify-content: space-around;
    background-color: #385170;
}

.navbar-brand {
    --bs-navbar-brand-color: #ececec !important;
}

.navbar-brand:focus, .navbar-brand:hover {
    --bs-navbar-brand-hover-color: #ececec !important;
}

.navbar .container {
    margin: 0;
} 

.btn-primary {
    background-color: #142d4c;
    --bs-btn-hover-bg: #385170;
}

a {
    --bs-link-color-rgb: #142d4c;
}

a:hover {
    --bs-link-hover-color-rgb: #385170;
}

.show-warning {
    right: 0;
    position: absolute;
}

#eye {
    background-color: white;
}

#login.container, #signUp.container {
    border-radius: 10px;
    background-color: #ececec;
    min-width: 320px;
}

.rounded {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

@media screen and (min-width: 500px) {

    .container {
        max-width: 500px;
    }

    .rounded {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 930px;
    }

    .rounded {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.col:nth-of-type(2) {
    margin: 1rem;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #385170;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle~.circle {
    background-color: gray;
}

.line {
    border: 1px solid #385170;
    margin: 0;
    flex-grow: 1;
}

#signUp {
    display: none;
}